@{
    ViewData["Title"] = "Home page";
}

<head> 
    <title>Document</title>
    <link type="text/css" href="~/css/gameStyles.css" rel="stylesheet" />
</head>

<body>
    <label id="CurrentRecord">Current record: 0</label>

    <div class="game">
        <div id="dino">

        </div>

        <div id="cactus">

        </div>

    </div>

    <script src="~/js/gameControls.js"></script>
</body>
